@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius; 
}

@mixin bg-gradient($color1, $color2) {
    background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($color1, $color2); /* Standard syntax */
}

//COLORS
$bgColor: #e3e2e2;
//main
$mainBgColor: #fdfdfd;
$mainBorder: #d9d8d8;
//header
$headerBottomBorder: #e0e0e0;
$title: #2288b7;
//tools
$selectBg: #eaeced;
$selectBorder: #9c9c9c;
$gradient1: #fff;
$gradient2: #f2f2f2;
//table
$headBg: #eaeced;
$tableBorder: #cccfd1;
$trBackground: #f7f7f7;
$tableRadius: 10px;
$trHover: #BCDDE8;
//pagination
$paginationFont: #717171;
$paginationActive: #f2f2f2;
//detailt box
$detailBoxBg: #fff;

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: $bgColor;
}

#main {
    margin: 40px auto;
    background-color: $mainBgColor;
    text-align: center;
    @include border-radius(8px);
    border: 5px solid $mainBorder;
    
    header {
        padding: 30px 0;
        border-bottom: 2px solid $headerBottomBorder;   
        #title {
            font-size: 60px;
            line-height: 60px;
            color: $title;
            font-weight: 200;
            margin-bottom: 10px;
        }
        #subtitle { font-size: 17px; }
    }
    
    #tools {
        padding: 20px 0;
        
        #search input { font-size: 12px; line-height: 100%; }
        #select {
            height: 34px;
            padding: 5px;
            @include border-radius(5px);
            background-color: $selectBg;
            
            input {
                height: 24px;
                width: 90%;
                @include border-radius(5px);
                border: 1px solid $selectBorder;
                font-size: 11px;
                color: #000;
                line-height: 24px;
                padding: 0 5px;
                @include bg-gradient($gradient1, $gradient2);
            }
            input::-webkit-input-placeholder { color: #000; }
            input:-moz-placeholder { color: #000; }
            input::-moz-placeholder { color: #000; }
            input:-ms-input-placeholder { color: #000; }
            input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { opacity: 1; }
        }
        button { 
            height: 30px; 
            border: 0; 
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden; 
        }
        #btn-search { background: url(../images/sprite.png); background-position: 0 -30px; width: 80px; }
        #btn-reset { background: url(../images/sprite.png); background-position: 0 0; width: 74px; }
    }
    
    div#table {
        @media all and (min-width: 550px) {
            padding: 0 20px;
        }
        @media all and (max-width: 549px) {
            padding: 0;
        }
        
        table {        
            border-collapse: separate;
            border: 1px solid $tableBorder;
            @include border-radius($tableRadius);
            border-left: 0px;

            tbody > tr { cursor: pointer; }
            tbody > tr:hover { background-color: $trHover; }
            thead { background-color: $headBg; }
            tr:nth-child(even) { background-color: $trBackground; }
            tr > td:first-child { text-align: left; }
            
            @media all and (min-width: 550px) {
                td { padding: 20px 30px; }
                th { padding: 25px 30px; }
            }
            
            //border-radius
            td {
                border-left: 1px solid $tableBorder;
                border-top: 1px solid $tableBorder;
            }
            th { border-top: none; }
            th:first-child { @include border-radius ($tableRadius 0 0 0); border-left: 1px solid $tableBorder; }
            th:last-child { @include border-radius (0 $tableRadius 0 0); }
            th:only-child { @include border-radius ($tableRadius $tableRadius 0 0); }
            tr:last-child td:first-child { @include border-radius (0 0 0 $tableRadius); }
            tr:last-child td:last-child { @include border-radius (0 0 $tableRadius 0); }
        
        }
    }
    
    #pagination {
        padding: 0 0 20px 0;
        
        div {
            width: 32px;
            height: 32px;
            vertical-align: bottom;
            display: inline-block;
            background: url('../images/sprite.png');
            background-position: 0 -60px;
            cursor: pointer;
            color: $paginationFont;
            line-height: 32px;
            font-weight: 600;
        }
        
        div:first-child { background: url('../images/sprite.png'); background-position: -80px 0; }
        div:last-child { background: url('../images/sprite.png'); background-position: -65px -60px; }
        div:first-child, div:last-child { overflow: hidden; text-indent: 100%; }
        .active { background-position: -32px -60px; color: $paginationActive; }
        
    }
    
}

.rating, .rating-active { height: 32px; width: 32px; display: inline-block; padding: 0;}
.rating { background: url('../images/sprite.png'); background-position: -97px -32px; }
.rating-active { background: url('../images/sprite.png'); background-position: -97px -64px; }

#detailBox {
    display: none;
    position: fixed;
    top: 30px; left: 0;
    background-color: $detailBoxBg;
    text-align: center;
    
    @media all and (min-width: 630px) {
        width: 40%;
        margin: 0 30%;
        padding: 20px 50px;
    }
    
    @media all and (max-width: 629px) {
        width: 80%;
        margin: 0 10%;
        padding: 20px 50px;
    }
    
    h1 { color: lighten(#000, 50%); }    
    
    > div { margin-bottom: 15px; }
    .title { font-size: 17px; }
    
    .content {
        font-weight: 700;
        font-size: 30px;
    }
}